
* {
    margin: 0px ;
    padding: 0px;
}

@font-face {
    font-family: 'digital';
    src: url('Technology.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    margin-top: 15%;
}

#btn{
    margin-top: 40%;
    margin: auto;
    width: 400px;

}
button {
    width: 18%;
    height: 50px;
    cursor: pointer;
    margin: 10px;
    font-size: large;
    margin-left: 8%;
    
}



#txt {
    text-align: center;
    font-family:'digital';
    color: #DF7401;
    margin: auto;
    width: 300px;
    display: flex;

    
    
}
#counter {
    font-size: 100pt;
}

#seg {
    margin-top:  15%;
}




.bg-green {
    background: rgb(75, 168, 75) ;
    color: white;
}

.bg-yellow {
    color: white;
    background: rgb(218, 151, 28);
}

.bg-red {
    color: white;
    background: rgb(233, 79, 79) ;
}

.bg-green:active {
    transform: translateY(1px);
  }
  
.bg-yellow:active {
    transform: translateY(1px);
  }

  .bg-red:active {
    transform: translateY(1px);
  }


.bg-green:hover {
    background-color: rgb(60, 116, 53); 
    color: white; 
    
  }

.bg-yellow:hover {
    background-color: rgb(179, 168, 70); 
    color: white; 
    
  }

.bg-red:hover {
    background-color: rgb(172, 70, 70); 
    color: white; 
    
  }
